.grid-container{
    min-height: 800px;
    border: 1px solid rgba(241, 10, 21, 0.587);
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    /* justify-content: center;
    align-content: center; */
    grid-template-areas:
        "box-1 box-2 box-3 box-4"
        "box-1 box-5 box-6 box-4";
}